/semantic_and_vector_search_1.mp4
/semantic_and_vector_search_2.mp4
/semantic_and_vector_search_3.mp4
/semantic_and_vector_search_4.mp4
/2_5_youtube_cost.mp4
/review_youtube_on_AI_impact.mp4
/youtube_pay_per_1k_view.mp4
/youtube_spreadsheet.mp4
/youtube_video_creation_challenge.mp4
/Can you make a living out of creating a YouTube video.mkv
/ask bard How much 2-5 minutes high quality youtube video cost.mkv
/How much YouTube pay for 1,000 views.mkv
/plug into spreadsheet and calculate going from 5K to 100 dollar.mkv
/How long does it take for a youtube video to get views.mkv
/show the tricks in the next 5 to 10 videos.mkv
/neural networks are stateless.mkv
/context size of chatgpt.mkv
/context is important for llm.mkv
/training or fine tuning llm is very costly.mkv
/zero shot leanring and translation.mkv
/audio to generate synthetic video.m4a
/be-brave.jpg
/ai-music-technology.mp3
